$white: #fff;
$light-white: #f8f4f4;
$dark-white: #ddd;
$gray: #b7b7b7;
$dark-gray: #9c9c9c;
$black-text: #111;
// header
$header-bg: #3c065e;
// end of header

// btn
$btn-color: #29b7dd;
$btn-color-hover: #1c82b1;
// end of btn

// squares
$one-bg: #29b7dd;
$one-border: #1fa9cf;
$two-bg: #8b72ee;
$two-border: #7c63e2;
$three-bg: #5d3be7;
$three-border: #5836de;
$four-bg: #bd72ef;
$four-border: #b265e5;
// end of squares
