@use './colors' as *;

.link {
	padding: 0.8em 0;
	position: relative;
	font-size: 1.8rem;
	color: $light-white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.link,
.link::after,
.link::before {
	transition: 0.3s;
}

.link::after {
	content: '';
	position: absolute;
	bottom: 10px;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: $light-white;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
}
.link:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}
